
body {
background-color: rgb(188, 210, 218);
style="width:800px; margin:0 auto;">
    font-family:Georgia, 'Times New Roman', Times, serif;}
h1 {font-family:Georgia, 'Times New Roman', Times, serif; color: rgb(2, 51, 63);
    justify-content: center;
    align-items: center; }
p {font-family:Georgia, 'Times New Roman', Times, serif; color: rgb(15, 55, 116);justify-content: center;
    align-items: center;}
head {justify-content: center; tyle="width:800px; margin:0 auto;"}