p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    rgb(0, 55, 80);
    text-align: center;
}

.textme p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(245, 173, 125);
    text-shadow: 2px 2px 2px #06312b;
    text-align: center;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(245, 173, 125);
    text-shadow: 2px 2px 2px #06312b;
    text-align: center;
}

.header h1 { 
    font-size: 65px;
    color: rgb(245, 173, 125);
    text-shadow: 2px 2px 2px #06312b;
}

body {
    background-image: linear-gradient(#fff6e4,#70ecc7, #fff6e4);
    text-align: center;
}

h2 {font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(245, 173, 125);
}
    
